extends ../layouts/app.pug

block content
  .container.fluid
    .row.justify-content-center.pb-5.mt-5
      .col-12.col-sm-8.col-md-6
        .card.shadow.border-top.border-primary
          .card-body
            h3.mb-4.mt-3.text-center Registration form
            +formFor({ url: url('users#create'), method: 'post' })
              +inputWithoutLabel(f, 'e-mail', 'email')
              +inputWithoutLabel(f, 'first name', 'firstName')
              +inputWithoutLabel(f, 'last name', 'lastName')
              +inputWithoutLabel(f, 'password', 'password', { as: 'password' })
              +button('secondary', 'Confirm')
