extends ../layouts/app.pug

block content
  .container
    .row.pt-3.justify-content-center
      .col-sm-8.bg-light.py-3.px-5.rounded-right.shadow
        .row.pt-3
          .col-3
            #nav-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
              a#nav-profile-tab.nav-link.active(data-toggle='pill' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='true') Profile
              a#nav-account-tab.nav-link(data-toggle='pill' href='#nav-account' role='tab' aria-controls='nav-account' aria-selected='false') Account
          .col-9
            #nav-tabContent.tab-content
              #nav-profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-profile-tab')
                +formFor({ url: url('root'), method: 'PATCH' })
                  +inputLabel(f, 'firstName', 'First Name', 'Enter new first name')
                  +inputLabel(f, 'lastName', 'Last Name', 'Enter new first name')
                  +button('secondary', 'Change profile') 
              #nav-account.tab-pane.fade(role='tabpanel' aria-labelledby='nav-account-tab')
                +formFor({ url: url('root'), method: 'PATCH' })
                  +inputLabel(f, 'email', 'Email address', 'Enter new email')
                  +button('secondary', 'Change email')
                  .d-flex.justify-content-around.align-items-center
                    a(href=url('root')) Edit password
                    a(href=url('root') class="text-danger") Delete account
