extends ../layouts/app.pug

block content
  .container
    .row.pt-3.justify-content-center
      .col-sm-8.bg-light.py-3.px-5.rounded-right.shadow
        .row.pt-3
          .col-3
            #nav-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
              a#nav-profile-tab.nav-link.active(data-toggle='pill' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='true') Profile
              a#nav-account-tab.nav-link(data-toggle='pill' href='#nav-account' role='tab' aria-controls='nav-account' aria-selected='false') Account
          .col-9
            #nav-tabContent.tab-content
              #nav-profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-profile-tab')
                +formFor({ url: url('account/profile#update'), method: 'PATCH' })
                  +inputLabel(f, 'firstName', 'First Name', 'Enter new first name')
                  +inputLabel(f, 'lastName', 'Last Name', 'Enter new first name')
                  +button('secondary', 'Save profile') 
              #nav-account.tab-pane.fade(role='tabpanel' aria-labelledby='nav-account-tab')
                h4.py-2 Email
                +formFor({ url: url('account/email#update'), method: 'PATCH' })
                  +inputLabel(f, 'email', 'Enter new email address')
                  +button('secondary', 'Save email')
                .d-flex.flex-column.py-2
                  .d-flex.flex-column.mb-2
                    h4.pt-2.pb-1 Password
                    a(href=url('root')) Edit password
                  .d-flex.justify-content-start.pt-4.pb-3
                    a.btn.btn-danger(href=url('root') role='button') Delete account
