extends ../layouts/app.pug

block content
  .container.fluid
    .row.justify-content-center.pb-5.mt-5
      .col-12.col-sm-7.col-md-5
        .card.shadow.border-top.border-primary
          .card-body
            h3.mb-4.mt-3.text-center Edit password
            +formFor({ url: url('account/password#update'), method: 'PATCH' })
              +inputWithoutLabel(f, 'oldPassword', 'Enter current password', { as: 'password' })
              +inputWithoutLabel(f, 'password', 'Enter new password', { as: 'password' })
              +button('secondary', 'Confirm')
